@import 'bourbon';
@import '_constants';
@import '_colors';
@import 'normalize';
@import 'quillbox';
@import 'material-overrides';
@import 'task';
@import 'meeting';
@import '_constants';
@import '_colors';
@import 'components';
@import 'animation';
@import 'video-chat';
@import 'pro';
@import 'about';

a{
  text-decoration: none;
  color: $primary-dark-color;

  &:visited {
    color: $primary-dark-color;
  }
}

html {
  background-color: $accent-light-color;
}

.main-content, .topbar {
  padding: $standard-spacing;
}

.main-content {
  position: relative;
  overflow-x: hidden;
}

.card {
  @include materialShadow(1);
  padding: 10px;
}

.logo-start {
  color: $primary-dark-color;
}

.logo-end {
  color: $accent-color;
}

.meetingapp {
  max-width: $max-page-width;
  @include display(flex);
  @include flex-direction(column);
  position: relative;
  margin: auto;
  background-color: white;
  border: 1px solid #ccc;
  @media (max-device-width: $phone-width)  {
    width: 100%;
    max-width: 100%;
    font-size: 180%;
  }
}

.topbar, .topbar .right-content {
  @include display(flex);
  @include justify-content(space-between);
  @include align-items(center); 
}

.topbar {
  @include display(flex);
  @include justify-content(space-between);
  @include align-items(center);
  border-bottom: 1px solid #ccc;
  width: 100%;
  background: white;
  max-width: $max-page-width;

  h1 a {
    @include user-select(none);
    outline: 0;
  }

  .contact {
    margin-right: 10px;
  }

  .mui-dialog-window {
    width: 700px;
    &.mui-is-shown {
      @include calc(left, '50% - 350px');
    }
  }
}

.main-content-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;

  &.main-content-enter-active {
    opacity: 1;  
  }
}

.hidden-span{
    position:absolute;
    top:0px;
    left:0px;
    visibility:hidden;
    width:1px;
    white-space:nowrap;
    overflow:hidden;
}
