.mui-checkbox {
  display: inline-block;
  width: 25px;
  height: 25px;
}

.card > .mui-paper-container {
  padding: $standard-spacing;
}

.mui-paper-container > .mui-enhanced-button {
  height: 100%;
}

.mui-text-field {
  font-size: inherit;
  width: 100%;
}

.no-underline .mui-text-field-underline {
  display: none;
}

.mui-dialog {
  .mui-dialog-title {
    font-weight: bold;
    font-size: 2.5em;
  }

  .mui-dialog-content {
    padding: 0 24px;
    font-size: 14px;
  }

  .mui-paper-container {
    height: auto;
  }
}

.mui-dialog-window .mui-dialog-window-contents {
  width: 85%;
}
