@import '_constants';
.mui-checkbox {
  display: inline-block;
  width: 25px;
  height: 25px;
}

.card > .mui-paper-container {
  padding: $standard-spacing;
}

.mui-paper > .mui-paper-container {
  height: auto;
  width: auto;
}

.mui-paper-container > .mui-enhanced-button {
  height: 100%;
}