@import '_constants';

.meeting-components {
  @include display(flex);
  @include flex-wrap(wrap);
  @include justify-content(space-around);
  @include align-items(flex-start);
  @include align-content(flex-start);
  
  .card {
    margin: $standard-spacing;
  }
}

.notes-card {
  width: 443px;
  overflow: hidden;
}

.tasks-card {
  width: 370px;
}

.task-item-completed .mui-text-field-input {
  text-decoration: line-through;
  color: #777;
}
