.meeting-section {
  h2 {
    font-size: 36px;
    @include display(flex);
    color: $standard-text-color;
  }

  .mui-raised-button {
    margin-left: 10px;
  }
}

.meeting-list {
  margin-top: 10px;
  @include materialShadow(1);
}

.meeting-list-item {
  border-bottom: 1px solid #ccc;
  padding: 8px;

  &:hover {
    background-color: #eee;
  }

  &:last-child {
    border-bottom: none;
  }

  .meeting-title {
    font-size: 15px;
    font-weight: bold;

    .mui-text-field {
      height: 30px;
    }
  }

  .meeting-time {
    font-size: 12px;
    line-height: 12px;
    color: $secondary-text-color;
  }
}

.meeting-components {
  @include display(flex);
  @include flex-wrap(wrap);
  @include justify-content(space-around);
  @include align-items(flex-start);
  @include align-content(flex-start);
  
  .card {
    margin: $standard-spacing;
  }
}

.notes-card {
  width: 443px;
  overflow: hidden;
}

.tasks-card {
  width: 370px;

  h3 {
    @include display(flex);

    .mui-raised-button {
      margin-left: 10px;
    }
  }
}

.task-item-completed .mui-text-field-input {
  text-decoration: line-through;
  color: #777;
}

.meeting-join-widget {
  position: relative;
  z-index: 1;

  .mui-icon-button {
    width: auto;
    height: 24px;
    padding: 0;
    margin-left: 10px;
  }

  .mui-icon-button .mui-icon-button-tooltip {
    margin-top: 36px;
  }

  .fa {
    font-size: 20px;
  }

}

.meeting-title .mui-text-field {
  max-width: 200px;
  min-width: 200px;
}

.all-meetings {
  display: block;
  margin: 5px 0 10px 0;
}

.video-controls {
  @include display(flex);

  .mui-raised-button {
    margin-right: 10px;
  }
}

.input-options {
  @include display(flex);
  @include align-items(center);

  .mui-drop-down-icon {
    height: 22px;
    width: 25px !important;
  }
}

.presence {
  color: $secondary-text-color;
}

@media (max-device-width: $phone-width)  {
  .tasks-card, .notes-card {
    width: 100%;
  }

  .sync-box {
    max-width: 100%;
  }

  .meeting-title .mui-text-field {
    min-width: 350px;
    height: 54px;
  }

  .task-list p {
    font-size: 24px;
  }

  .share-widget {
    font-size: 44px;

    p {
      font-size: 24px;
    }
  }

  .meeting-section h2 {
    font-size: 65px;
  }

  .meeting-list-item {
    padding: 16px;

    .meeting-title {
      font-size: 36px;
      line-height: 40px;
    }

    .meeting-time {
      font-size: 20px;
      line-height: 24px;
    }
    
  }
}

