.sync-box {
  max-width: 640px;
  margin: auto;
  @include display(flex);
  @include flex-direction(column);

  .ql-container {
    height: 400px;
  }
}

.ql-toolbar {
  border-bottom: 1px solid #ccc;
}
