.others-video {
  @include display(flex);

  video {
    max-height: 300px;
  }
}

.video-container {
  position: relative;
  width: 200px;
  height: 150px;
  background-color: black;

  video {
    position: absolute;
    width: 100%;
    height: 100%;  
  }

  .connection-state {
    font-family: sans-serif;
    text-align: center;
    color: white;
    padding-top: 10px;
  }

  .volume {
    position: absolute;
    left: 25%;
    width: 50%;
    bottom: 0;
    height: 5px;
    
    @include appearance(none);
    &::-webkit-meter-bar {
      height: 5px;
    }

    &::-webkit-meter-inner-element, &::-moz-meter-bar {
      height: 5px;
      @include transition(all .2s);
    }

    &::-webkit-meter-optimum-value {
      -webkit-transition: width .5s;
    }
  }
}
