.others-video {
  @include display(flex);

  video {
    max-height: 300px;
  }
}

.you-video {
  max-width: 100px;
  @include display(flex);

  video {
    height: 100px;
  }
}

.video-container {
  position: relative;
  width: 200px;
  height: 150px;
  background-color: black;

  video {
    position: absolute;
    width: 100%;
    height: 100%;  
  }

  .connection-state {
    font-family: sans-serif;
    text-align: center;
    color: white;
    padding-top: 10px;
  }
}
